<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/darkSky.png" alt="" class="portrait">
            <img src="/img/mapbox.png" alt="" class="portrait">
            <p>This site was created by Arnav Agrawal. Data is extracted from mapbox.com and darksky.net.</p>
        </div>
        {{>footer}}
    </body>
</html>